@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
    --dark: #03031D;
    --blurple: #5865F2;
    --red: #ED4245;
    --white: #FFFFFF;
    --pink: #EB459E;
    --yellow: #FEE75C;
    --green: #57F287;
}

body {
    font-family: 'Manilla Cellos', sans-serif;
    src: url(../fonts//Manilla\ Cellos.otf);
    background-color: var(--dark) !important;
    letter-spacing: 2px;
}

.navbar-toggler {
    background-color: var(--blurple);
    color: var(--white);
}

.navbar-dark .navbar-toggler {
    background-color: var(--blurple);
    color: var(--white);
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid var(--green);
}

.textheader {
    font-size: 48px;
}

::selection {
    color: var(--white);
    background-color: var(--red);
}

::-moz-selection {
    color: var(--white);
    background-color: var(--red);
}

.buttonsholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 15rem;
}

.buttons {
    color: var(--white);
    margin: 7px;
}

.buttons:hover {
    opacity: 0.7;
}

.status_container {
    border: 3px solid var(--green) !important;
    border-left: 8px solid var(--green) !important;
    border-radius: 5px !important;
    padding: 12px;
}

.outage {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blurple);
}

.red {
    background-color: var(--red);
}

.blurple {
    background-color: var(--blurple);
}